*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Open Sanz';
}

body{
    background-image: url(/Proyecto/Imagenes/fondo.jpg);
    background-size: cover;

}


nav{
    max-width: 900px;
    margin: auto;
    background-color: #333;
    font-size: 20px;
    margin-top: 4.5vw;
    border: 5px;
    border-radius: 5px;
}

.menu-horizontal{
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.menu-horizontal > li > a {
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
}


.menu-horizontal > li:hover {
    background-color: grey;
}


.menu-vertical{
    position:absolute;
    display: none;
    list-style: none;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.5);/*fonde del menu vertical cuando se muestra*/
}

.menu-horizontal  li:hover .menu-vertical{
    display: block;
}

.menu-horizontal  li:hover {
    background-color: black;
}

.menu-vertical li a{
    display: block;
    color: white;
    padding: 15px 15px 15px 20px;
    text-decoration: none;
}

.menu-vertical > li:hover {
    background-color: grey;
}
.menu-vertical-2{
    position: relative;
    display: block;
    list-style: none;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.5);/*fonde del menu vertical cuando se muestra*/
}
.menu-vertical-2  li:hover .menu-vertical{
    display: block;
}










footer{
    background-color: aquamarine;
    width: 100%;
    position:fixed;
    left:0px;
    bottom:0px;
    padding: 1vw;
    
}

.itmesfooter{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-left: 0.1vw;
    padding-right: 0.1vw;
}
.Redes{
    padding-left: 0.1vw;
    padding-right: 0.1vw;
}

.EnlacesFooter{
    display: flex;
    flex-direction: row;
}