*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background: url(../Imagenes/fondo.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    background-color: black;
    background-size: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    padding-top: 150px;
    padding-bottom: 60px;
    margin-left: 2%;
    margin-right: 2%;
}



h2{
    text-align: center;
    margin: 2vh auto;
}
.ClientesRegulares{
    width: 100%;
    padding-top: 2vh;
    padding-bottom: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: flex-start;
    gap: 10px 10px;
    margin: 0px;
}

.ClientesRegulares > img{
    width: 220px;
    height: 80px;
}




footer{
    background-color: grey;
    width: 100%;
    position:fixed;
    left:0px;
    bottom:0px;
    padding: 1vw;
    
}

.itmesfooter{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-left: 0.1vw;
    padding-right: 0.1vw;
}
.Redes{
    padding-left: 0.5vw;
    padding-right: 0.4vw;
    
}
.EnlacesFooter a:visited{
    color:brown;
}
.EnlacesFooter a:focus{
    background-color: black;
}
.Redes img{
    width: 30px;
    height: 30px;
}

.EnlacesFooter{
    display: flex;
    flex-direction: row;
}