*{
    margin:0px;
    padding: 0px;
    /* box-sizing: border-box; */
}

body{
    background-image: url(../Imagenes/fondo.jpg);
    background-color: black;
    background-size: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    z-index: 1;


}



footer{
    background-color: aquamarine;
    width: 100%;
    position:fixed;
    left:0px;
    bottom:0px;
    padding: 1vw;
    
}

.itmesfooter{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-left: 0.1vw;
    padding-right: 0.1vw;
}
.Redes{
    padding-left: 0.1vw;
    padding-right: 0.1vw;
}

.EnlacesFooter{
    display: flex;
    flex-direction: row;
}