header{
    background-color: rgba(0, 0, 0, 1);
    position: fixed;
    top: 0;
    left: 2%;
    width: 96%;
    height: auto;
    z-index: 2;
    text-align: center;
}
nav{
    margin: auto;
    padding-bottom: 0px;
    padding-top: 0px;
    margin-left: 0px;
    margin-right: 0ox;
    width: 100%;
}

ul, ol {
    list-style: none;
}

#menu{
    position: absolute;
    top: 0;
    left:0;
    display: none;
}

#menu-check{
    display: none;
}

.logo{
    height: 11vh;
}

.menu-horizontal {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 5px;
    justify-content: space-around;
    align-items: center;
    position: relative;
    height: auto;
}
.menu-horizontal li a{
    color: #fff;
    text-decoration: none;
    padding: 1px 15px;
    display: block;
}
.menu{
    display:block;
}

.menu-horizontal li a:hover{
    background-color: rgb(104, 76, 76);
    transition: .1s;
}

.menu-horizontal >li> a{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* width: 10em; */
    padding:0.6em 0px  ;
    font-size: 1em;
    /* border: 5px; */
    border-radius: 5px;
    /* margin: .2em 0px; */
}

.menu-horizontal li ul{
    display: none;
    position: absolute;
    min-width: 140px;
}

.menu-horizontal li:hover > ul{
    display:block;
    background-color: black;
    min-width: 100px;
}

.menu-horizontal li ul li{
    position: relative;
    padding:0.6em 0px;
}

.menu-horizontal li ul li ul{
    right: -110%;
    top: 0;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    
  } 

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .logo{
        position: absolute;
        right: 0;
        top: 0; 
    }
    body{
        padding-top: 7vh;
    }
    #menu{
        display: block;
        z-index: 3;
        position: absolute;
        top: 3vh;
        /*agregar un color negativo en mouse over*/
    }
    #menu-check:not(:checked) + #menu #menu-abrir {
        display: block;
    }
    #menu-check:not(:checked) + #menu #menu-cerrar {
        display: none;
    }
    #menu-check:checked + #menu #menu-abrir {
        display: none;
    }
    #menu-check:checked + #menu #menu-cerrar {
        display: block;
    }
    #menu-check:checked ~ nav .menu-horizontal {
        display: flex;
        flex-direction: column;
        position: absolute;
        left: 10px;
        top:4vh;
        background-color: black;
        width: 30%;
    }
    #menu-check:not(:checked) ~ nav .menu-horizontal {
        display: none;
    }


}