header{
    background-color: rgba(0, 0, 0, 1);
    position: fixed;
    top: 0;
    left: 2%;
    width: 96%;
    z-index: 2;
    text-align: center;
}
.nav{
    margin: auto;
    padding-bottom: 0px;
    padding-top: 0px;
    margin-left: 0px;
    margin-right: 0ox;
    width: 100%;
}

ul, ol {
    list-style: none;
}


section{
    background: url(../Imagenes/fondo.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    /* height: calc(100hv - 80px); */
}
.logo{
    height: 12vh;
}

.checkbtn{
    font-size: 30px;
    color: #fff;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}


.menu-horizontal li a{
    color: #fff;
    text-decoration: none;
    padding: 1px 15px;
    display: block;
}

.menu-horizontal li a:hover{
    background-color: rgb(104, 76, 76);
    transition: .1s;
}

.menu-horizontal >li> a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10em;
    /* height: 5em; */
    font-size: 1.5em;
    border: 5px;
    border-radius: 5px;
    margin: .2em 0px;
}

.menu-horizontal {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
  
}

.menu-horizontal li ul{
    display: none;
    position: absolute;
    /* min-width: 140px; */
}

.menu-horizontal li:hover > ul{
    display:block;
    background-color: rgb(104, 76, 76);
}

.menu-horizontal li ul li{
    position: relative;
}

.menu-horizontal li ul li ul{
    right: -140px;
    top: 0;
}


@media screen and (max-width: 952px) {

}

@media screen and (max-width: 700px) {
    section{
       height: calc(100hv - 30px);
   }
}