/* *{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
<<<<<<< HEAD
} */
.wellcome{
=======
}
.welcome{
>>>>>>> 5fcb673baf20c199472951136b905c0c05980deb
    background-color: rgba(245, 245, 245, 0.048);
    border-radius: 5px;
}

.wellcome p{
    margin: 25px;
    font-size: 1.2em;
    text-align: justify;
}

.wellcome p a {
    text-decoration: none;
    color: red
}

.wellcome h2{
    margin: 100px 0px 50px;
}

.sucursales{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}

.sucursales li{
    margin: 5px;
}

.mapa{
    width: 30vw;
    height: 22vw;
}

@media screen and (max-width: 952px) {
    p{
        font-size: 1em;
    }
    .sucursales{
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }

    .mapa{
        width: 45vw;
        height: 34vw;
        margin: 5px 0px 35px;
    }
}

@media screen and (max-width: 858px) {
    p{
        font-size: 1em;
    }
    .sucursales{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .mapa{
        width: 60vw;
        height: 45vw;
        margin: 5px 0px 35px;
    }
}

