*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.welcome{
    background-color: rgba(245, 245, 245, 0.048);
    border-radius: 5px;
}

.welcome p{
    margin: 25px;
    font-size: 1.2em;
    text-align: justify;
}

.welcome p a {
    text-decoration: none;
    color: red
}

.welcome h2{
    margin: 100px 0px 50px;
}

.sucursales{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 25px;

}

.sucursales li{
    margin: 5px;
    
}

.mapa{
    width: 30vw;
    height: 22vw;
}

@media screen and (max-width: 768px) {
    p{
        font-size: 1em;
    }
    .sucursales{
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        margin-bottom: 20px;

    }

    .mapa{
        width: 45vw;
        height: 34vw;
        margin: 5px 0px 35px;
    }
}

@media screen and (max-width: 600px) {
    p{
        font-size: 1em;
    }
    .sucursales{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 15px;
    }
    .mapa{
        width: 60vw;
        height: 45vw;
        margin: 5px 0px 35px;
    }
}

