
.cuerpo{
    padding-top: 145px;
    margin-left: 2%;
    margin-right: 2%;
    padding-bottom: 60px;

}

.subtipo-prod{
    display: flex;
    width: 100;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    row-gap: 5px ;
    column-gap: 10px;
    
}
.item-prod{
    border-color: white;
    border-width: 1px;
    border-style: hidden;
    margin: 0vw;
    padding: 1vw;
    display: flex;
    flex-direction: column;
    

    /* el tamaño de la imagen hayque definirlo en vw para cada tamaño de display */

}
.item-prod > img {
    width: 200px;
    height: 200px;
    z-index: -2;
}
.item-prod > h6 {
    font-size: 1.1em;
    width: 200px;
    height: 20px;
}
.precio-prod{
    width: 65px;
    color: red;
    background-color: rgba(255, 255, 255, 0.808);
    font-weight: bold;
    font-size: 1em;
    z-index: -1;
    transform: translate(135px,-20px);
    
}
.btn-compra{
    transform: translateX(55px);
    margin-top: -15px;
    background-color: blue;
    height: 25px;
    width: 100px;
    color: white;
    border-radius: 6px;
    border-style: hidden;
    z-index: -1;
}
h6{
    font-size: 1em;
}
.detalle-prod{
    font-size: 0.8em;
}