.slider-frame {
	width: 80%;
    height: 400px;
	margin:50px auto 0;
	overflow: hidden;  //* ocuta todo lo que queda fuera del width y height*/
}

.slider-frame ul {
	display: flex;
	padding: 0;
	width: 300%; /* 100% por cada foto*/
	align-items: center;
	animation: slide 10s infinite alternate ease-in-out;
}

.slider-frame li {
	width: 100%;
	list-style: none;
}

.slider-frame img {
	width: 100%;
	transform: translateY(-20%);
}

@keyframes slide {
	0% {margin-left: 0;}
	28% {margin-left: 0;}
	
	35% {margin-left: -100%;}
	65% {margin-left: -100%;}
	
	72% {margin-left: -200%;}
	100% {margin-left: -200%;}
		
}
